@import '../../styles/imports.scss';

.Spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  &.vertical {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  &.horizontal {
    width: 32px;
    flex-direction: row;
    margin: 0 4px;
    height: 100%;
  }
  div {
    height: 5px;
    width: 5px;
    padding: 0;
    border-radius: 50%;
    margin: 3px auto;
    background: $blue;
  }
}
