@import '../../styles/global.scss';

#Liability {
  @include page;
  padding: 96px 16px 16px 16px;

  h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }

  section {
    @include card;
  }

  li {
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 16px;
  }

  .green {
    color: var(--green);
  }

  .red {
    color: var(--red);
  }

  .row {
    display: flex;

    .column-50 {
      flex: 50%;
    }
  }
}
