#Liability {
  @include page;
  li {
    margin-left: 20px;
    list-style-type: disc;
    color: white;
  }

  .se-button {
    margin: 12px 12px 0 0;
    padding: 6px 16px;
    flex-shrink: 1;
    label {
      cursor: pointer;
    }
  }

  @include mobile {
    flex-direction: column;
    .se-button {
      width: 100%;
      align-items: center;
    }
  }
}
