@import '../../styles/global.scss';

#Liability {
  @include page;

  h2 {
    font-size: 20px;
    color: var(--green);
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 8px;
  }

  section {
    @include card;
  }

  ol {
    list-style-type: decimal;
    margin-left: 24px;
  }

  .green {
    color: var(--green);
  }

  .red {
    color: var(--red);
  }

  .row {
    display: flex;

    .column-50 {
      flex: 50%;
    }
  }
}
