#Liability {
  @include page;

  #Liability-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .se-button {
    margin: 12px 12px 0 0;
    padding: 6px 16px;
    flex-shrink: 1;
    label {
      cursor: pointer;
    }
  }

  #Liability-file-upload {
    display: none;
  }

  @include mobile {
    flex-direction: column;
    .se-button {
      width: 100%;
      align-items: center;
    }
  }
}

#Liability-pdf {
  width: 64%;
  max-width: 400px;
  border: none;
  height: 100%;
  box-shadow: var(--se-shadow-large);
}
