@import '../../styles/imports.scss';

#Rescues {
  padding: 120px 16px 0 16px;
  max-width: 800px;
  margin: auto;
  animation: fade-in 0.32s ease forwards;

  #RescuesHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      font-size: 16px;
      color: $green;
      margin: 0;
    }
  }

  p {
    font-size: 16px;
    padding: 64px 32px;
    text-align: center;
    width: 100%;
  }

  #RescuesTable {
    margin: 64px 0;
    width: 100%;
    * {
      text-align: left;
    }
    tr {
      width: 100%;
    }
    th {
      font-weight: 900;
      font-size: 18px;
      &:first-child {
        width: 50%;
      }
      &:not(:first-child) {
        width: 25%;
      }
    }
    td {
      padding: 16px 0;
      &:first-child {
        width: 50%;
      }
      &:not(:first-child) {
        width: 25%;
      }
    }
  }
}
