#Rescues {
  @include page;

  .no-routes {
    width: 100%;
    padding: 48px 16px;
    text-align: center;
  }

  a {
    width: 100%;
  }

  #Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    select {
      background: none;
      height: 100%;
      position: relative;
      border: 0;
      border-radius: 8px;
      background: var(--se-white-transparent);
      padding: 12px 8px 12px 16px;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 600;
      color: var(--se-white);
      z-index: 1;
      transition: border 0.1s ease;
      -webkit-appearance: none;
      cursor: pointer;
      text-shadow: var(--se-shadow-small);
    }
  }

  .Route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;

    .Rescues-route-header {
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;

      .Rescues-route-status {
        font-size: 28px;
        margin-left: auto;
        margin-bottom: auto;
      }

      div {
        display: flex;
        flex-direction: column;
        .se-text.small {
          line-height: 1.2;
        }
        span {
          font-weight: 200;
        }
      }

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
        flex-shrink: 0;
        padding: 2px;
        background: var(--white);
        border-radius: 50%;
        margin-right: 12px;
      }
    }

    .pickups,
    .deliveries {
      width: 100%;
      padding-left: 1.5em;
      text-indent: -1.5em;
      white-space: pre-line;
      .se-image {
        width: 18px;
        margin-right: 4px;
      }
    }
  }
}
