.Input {
  position: relative;
  width: 100%;
  margin: 24px 0;
  overflow: hidden;
  height: 50px;
  border-radius: 0;
  border: 0;

  * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.animation {
    animation: slide-in 0.48s forwards ease;
  }

  &.textarea {
    height: unset;
    border-radius: 8px;

    textarea {
      white-space: pre-wrap;
      font-size: 20px;
    }

    label {
      color: var(--se-black);
    }
  }

  label {
    color: var(--se-black);
    z-index: 2;
    font-size: 18px;
    font-weight: 700;
    pointer-events: none;

    padding: 14px 12px;
    position: absolute;
    transition: padding 0.16s ease, font-size 0.16s ease;

    &.focused {
      color: var(--se-blue-primary);
      padding: 8px 12px;
      font-size: 10px;
    }
  }

  select {
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    color: var(--text);
    overflow-y: visible;
    background: none;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--secondary);
    padding: 20px 0 8px 0;
    -webkit-appearance: none;
    &:focus {
      border-bottom: 4px solid var(--primary);
    }
  }
  select option {
    background-color: var(--foreground);
  }

  input,
  textarea {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
    background: none;
    height: 100%;
    position: relative;
    border: 0;
    border-radius: 8px;
    background: var(--foreground);
    padding: 28px 8px 16px 8px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text);
    width: 100%;
    z-index: 1;
    transition: border 0.1s ease;
    -webkit-appearance: none;
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

.InputSuggestions {
  position: relative;
  width: 100%;
  margin: -20px 0 20px 0;
  overflow: hidden;
  border-radius: 8px;
  animation: grow-in 0.48s ease forwards;
  z-index: 9;

  li {
    cursor: pointer;
    z-index: 2;
    padding: 14px 16px;
    background: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
    transition: background 0.16s ease;
    background: var(--foreground);
    border-radius: 0;
    @include hover {
      background: var(--se-blue-light);
      color: var(--se-blue-primary);
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--background);
    }
  }
}
