#EditOrganization {
  @include page;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  button {
    opacity: 0;
    animation: fade-in 0.32s ease forwards 0.32s;
  }

  #EditOrganization-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      flex-direction: column;
      button {
        margin: 8px;
      }
    }
  }

  section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 96px;
      height: 96px;
      flex-shrink: 0;
      background: var(--white);
      padding: 4px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 24px;
    }
    input {
      color: var(--white);
      font-size: 12px;
    }
  }
}
