#EditOrganization {
  @include page;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  button {
    opacity: 0;
    animation: fade-in 0.32s ease forwards 0.32s;
  }

  #EditOrganization-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 96px;
      height: 96px;
      flex-shrink: 0;
      background: var(--white);
      padding: 4px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 24px;
    }
    input {
      color: var(--white);
      font-size: 12px;
    }
  }

  .PhoneInputCountryIconImg {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;
  }

  .PhoneInput {
    width: 100%;
    margin: 24px 0;
    height: 50px;
    border-radius: 0;
    border: 0;
    border: 1px solid var(--secondary);
    background: var(--foreground);
    border-radius: 8px;
    font-size: 24px;
    padding: 0px 8px;
    * {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      border: 3px solid var(--primary);
    }

    input {
      background: none;
      height: 100%;
      position: relative;
      border: 0;
      padding: 20px 8px 16px 8px;
      font-size: 18px;
      font-weight: 700;
      color: var(--text);
      width: 100%;
      z-index: 1;
      transition: border 0.1s ease;
      -webkit-appearance: none;

      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
  }
}
