@import '../../styles/imports.scss';

#EditOrganization {
  padding: 92px 16px 64px 16px;
  max-width: 800px;
  margin: auto;
  animation: fade-in 0.32s ease forwards;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  button {
    opacity: 0;
    animation: fade-in 0.32s ease forwards 0.32s;
  }

  section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 96px;
      height: 96px;
      flex-shrink: 0;
      background: $white;
      padding: 4px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 24px;
    }
    input {
      color: $white;
      font-size: 12px;
    }
  }
}
