#Hero {
  @include LandingPage;
  --se-min-hero-width: 700px;
  --se-min-hero-height: 100vh;
  min-width: var(--se-min-hero-width);
  min-height: var(--se-min-hero-height);
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 128px;

  @include mobile {
    min-width: 100vw;
  }

  #Hero-background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    display: flex;
    align-items: center;
    .se-image {
      width: 100%;
      height: 100%;
    }

    @include mobile {
      min-width: 100vw;
    }
  }

  #Hero-content {
    text-align: center;
    z-index: 2;
    width: 100%;
  }

  .darkgreen {
    color: var(--darkgreen);
  }

  .green {
    color: var(--green);
  }

  .darkgrey {
    color: var(--darkgrey);
  }
  .blue {
    color: var(--blue);
  }
}
