#Testimonial {
  @include LandingPage;
  --se-min-hero-width: 700px;
  --se-min-hero-height: 0vh;
  min-width: var(--se-min-hero-width);
  min-height: var(--se-min-hero-height);
  display: flex;
  box-sizing: border-box;

  @include mobile {
    min-width: 100vw;
  }

  #Testimonial-background {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    display: flex;
    align-items: center;
    .se-image {
      width: 100%;
      height: 100%;
    }
    @include mobile {
      min-width: 100vw;
    }
  }

  #Testimonial-content {
    width: 100%;
    position: relative;
    max-width: 100%;
    left: 20%;
    @include mobile {
      position: initial;
      margin: auto;
      width: 100%;
      display: block;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: var(--black);
    }

    .Slide {
      width: 100%;

      .Slide-content {
        background: var(--white);
        width: 100%;
        border-radius: 10px;
        box-shadow: var(--se-shadow-large);
        padding: 30px;
        padding-top: 30px;
        padding-bottom: 40px;
        position: relative;
        .se-text {
          padding-top: 30px;
          padding-left: 10px;
        }
        .Quotemark-vector .se-image {
          position: absolute;
          z-index: 0;
          width: 30%;
          opacity: 50%;
        }

        .Testimonial-author {
          padding-top: 30px;
          .se-image {
            width: 30%;
            border-radius: 50%;
            object-fit: cover;
            left: 65%;
            box-shadow: var(--se-shadow-medium);
          }
          .subheader {
            font-weight: 700;
          }
          .se-text {
            padding: 0;
            right: 6%;
          }
        }
      }
    }
  }

  .darkgreen {
    color: var(--darkgreen);
  }

  .darkgrey {
    color: var(--darkgrey);
  }

  .party-orange {
    color: var(--party-orange);
  }

  .party-blue {
    color: var(--party-blue);
  }

  .party-yellow {
    color: var(--party-yellow);
  }
}
