#EditLocation {
  @include page;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .is_primary,
  .is_philabundance_partner,
  .is_community_fridge,
  .is_warehouse,
  .is_home_delivery {
    width: 100%;
    position: relative;
    padding: 16px 0 16px 16px;
    .se-text {
      padding: 6px 0 0 32px;
    }

    input {
      position: absolute;
      top: 28px;
      left: 16px;
      transform: scale(2);
      margin: auto;
      z-index: 2;
      cursor: pointer;
    }
  }

  #EditLocation-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .se-button {
      margin: 8px;
    }
  }

  #HoursOpen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .se-button {
      margin: 8px;
    }
  }

  #EditLocation-address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .EditLocation-address-pin {
      margin-right: 16px;
      font-size: 48px;
    }
    #EditLocation-address-clear-button {
      margin-left: auto;
    }
  }

  button {
    opacity: 0;
    animation: fade-in 0.32s ease forwards 0.32s;
    &.red {
      background-color: var(--red);
    }
  }
  .PhoneInput {
    width: 100%;
    margin: 24px 0;
    height: 50px;
    border-radius: 0;
    border: 0;
    border: 1px solid var(--secondary);
    background: var(--foreground);
    border-radius: 8px;
    font-size: 24px;
    padding: 0px 8px;
    * {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      border: 3px solid var(--primary);
    }

    input {
      background: none;
      height: 100%;
      position: relative;
      border: 0;
      padding: 20px 8px 16px 8px;
      font-size: 18px;
      font-weight: 700;
      color: var(--text);
      width: 100%;
      z-index: 1;
      transition: border 0.1s ease;
      -webkit-appearance: none;

      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
  }
}
