#Menu {
  position: fixed;
  background: var(--foreground);
  top: 0;
  left: 0;
  width: 250px;
  border: 0;
  height: 100vh;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 22;
  transition: transform 0.32s ease, box-shadow 0.32s ease 0.16s,
    background 0.32s ease;
  animation: fade-in 0.32s ease forwards;

  @include desktop {
    top: 112px;
    left: 32px;
    height: calc(100vh - 144px);
    border-radius: 8px;
    box-shadow: var(--se-shadow-large);
  }

  @include mobile {
    left: unset;
    right: 0;
    &.open {
      transform: translateX(0px);
      box-shadow: var(--se-shadow-large);
    }
    &.closed {
      transform: translateX(300px);
    }
  }

  #UserProfile {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    #ProfileImg {
      opacity: 1;
      pointer-events: all;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      object-fit: cover;
      border: 2px solid var(--primary);
      background: var(--blue);
    }
    div {
      display: flex;
      margin-left: 8px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;

      #UserName {
        max-width: 100%;
        font-size: 16px;
        transition: opacity 0.32s ease;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      #UserEmail {
        max-width: 100%;
        margin: 3px 0 0 1px;
        font-size: 10px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--green);
        transition: opacity 0.32s ease;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      #UserIsAdmin {
        max-width: 100%;
        margin: 3px 0 0 1px;
        font-size: 10px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--grey);
        transition: opacity 0.32s ease;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        i {
          margin-right: 4px;
          font-size: 8px;
          color: var(--yellow);
        }
      }
    }
    #Close {
      cursor: pointer;
      color: var(--text);
      font-size: 24px;
      padding-left: 8px;
      margin-left: auto;
    }
  }

  #MenuContent {
    padding: 32px 0 16px 0;
    width: 100%;
    #ToggleContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
      font-size: 18px;
      font-weight: 600;
      color: var(--blue);
    }
    ul {
      .Menu-link {
        transition: color 0.1s ease;
        cursor: pointer;
        @include hover {
          color: var(--se-blue-primary);
        }
      }
    }
  }
  nav {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 4px;
    a {
      font-size: 12px;
      color: var(--blue);
    }
  }
}
