/* use this file for all browser default overrides and styles non-specific to the app's styles */
/* font imports should happen in index.html using <link> tags */
// @import '@sharingexcess/designsystem/build/index.scss';
// @import './reset.scss';
// @import './global.scss';
// @import './animations.scss';
// @import './components.scss';

// hide default datetime input icon
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

// hide google maps controls
.gm-style {
  iframe {
    background-color: var(--chakra-colors-surface-background);
  }
  a {
    display: none !important;
  }
  .gmnoprint {
    display: none !important;
  }
}

input::-webkit-date-and-time-value {
  text-align: left;
}

#Autocomplete {
  input {
    &:disabled {
      opacity: 1;
    }
  }
}

@import '../chakra_components/Analytics//Analytics.scss';
