#Analytics {
  .Analytics-tooltip {
    background: var(--chakra-colors-surface-background);
    padding: 8px;
    border-radius: 4px;
    .paragraph {
      font-weight: 700;
    }
  }

  iframe {
    width: 100%;
    margin-top: 16px;
    z-index: -1;
    height: 100%;
  }

  .canvas {
    background: white;
    border-radius: 10px;
    padding: 20px;
  }

  .InputSection {
    .Input {
      width: calc(50% - 8px);
      margin: 0 0 16px 0;
    }
  }

  #PoundsInDateRange-pounds {
    width: auto;
  }

  .details {
    flex-shrink: 1;
    width: auto;
  }

  .PoundsInDateRange-graph {
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;
  }

  #Analytics-table {
    padding: 16px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 16px;

    .Analytics-table-header {
      font-size: 18px;
      font-weight: 700;
      color: var(--chakra-colors-element-secondary);

      &:not(:first-child) {
        text-align: right;
      }
    }

    .Analytics-table-name {
      font-weight: 700;
    }

    .Analytics-table-total {
      text-align: right;
    }

    .Analytics-table-percent {
      text-align: right;
    }
  }

  foreignObject p {
    color: var(--chakra-colors-surface-background);
    font-weight: 700;
    overflow: hidden;
    padding: 0 2px;
    width: 100%;
    height: 100%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
