@import '../../styles/global.scss';

#Users {
  @include page;

  .wrapper {
    width: 100%;
    display: inline;
  }

  h1 {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .User {
    @include card;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    div {
      width: 100%;
      overflow: hidden;
      * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      flex-shrink: 0;
      object-fit: contain;
      margin-right: 16px;
      background: var(--white);
      padding: 2px;
    }
  }
}
