#Rescues {
  @include page;

  .no-rescues {
    width: 100%;
    padding: 48px 16px;
    text-align: center;
  }

  #Error {
    height: auto;
  }

  .lds-ellipsis div {
    // this controls the "pull to refresh" loading icon;
    background: var(--se-white);
  }

  a {
    width: 100%;
  }

  #Rescues-tabs {
    padding-top: 2px;
    overflow: visible;
    gap: 8px;
    @include mobile {
      gap: 4px;
    }
    .se-button {
      padding: 8px 16px;
      text-transform: capitalize;
      @include mobile {
        padding: 8px 12px;
        flex-grow: 1;
        margin-right: 0;
      }
    }
  }

  #Rescues-filters {
    gap: 8px;
    .Input {
      width: 100%;
      font-size: 16px;

      input[type='text']:read-only {
        opacity: 0.6;
      }
    }
    .InputSuggestions li {
      font-size: 10px;
      padding: 8px;
    }
  }

  .Route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;

    .Rescues-route-header {
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;

      .Rescues-route-status {
        font-size: 28px;
        margin-left: auto;
        margin-bottom: auto;
      }

      > div {
        display: flex;
        flex-direction: column;
        padding-right: 4px;
        @include ellipsis;
        .se-text.small {
          line-height: 1.2;
        }
        span {
          font-weight: 200;
        }
      }

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
        flex-shrink: 0;
        padding: 2px;
        background: var(--se-white);
        border-radius: 50%;
        margin-right: 12px;
      }
    }

    .pickups,
    .deliveries {
      width: 100%;
      padding-left: 1.5em;
      text-indent: -1.5em;
      white-space: pre-line;
      .se-image {
        width: 18px;
        margin-right: 4px;
      }
    }
  }
}
