#User {
  @include page;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .wrapper {
    width: 100%;
    display: inline;
  }

  img {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    background: var(--white);
    padding: 4px;
    border-radius: 50%;
    object-fit: contain;
  }

  #User-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    a {
      text-decoration: underline;
    }
    .se-text {
      display: flex;
    }
  }
  #AccessLevel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  #User-driver-availability {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .Input {
      width: 48%;
      margin: 8px 0;
      justify-content: flex-end;
      align-items: center;
      input {
        -webkit-appearance: checkbox;
      }
    }
  }
}
