#Organizations {
  @include page;

  select {
    background: none;
    height: 100%;
    position: relative;
    border: 0;
    border-radius: 8px;
    background: var(--se-white-transparent);
    padding: 12px 8px 12px 16px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: var(--se-black);
    z-index: 1;
    transition: border 0.1s ease;
    -webkit-appearance: none;
    cursor: pointer;
    text-shadow: var(--se-shadow-small);
  }

  .wrapper {
    width: 100%;
    display: inline;
  }

  #Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mobile {
      flex-wrap: wrap;
    }

    .section-header {
      text-transform: capitalize;
    }
  }

  .Organization {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;

    .section-header {
      font-size: 16px;
    }

    .small {
      text-transform: capitalize;
    }

    .Organization-icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 16px;
      background: var(--white);
      padding: 3px;
      flex-shrink: 0;
    }

    .Organization-type {
      font-size: 10px;
      margin-left: auto;
    }
  }
}
