#Organizations {
  @include page;

  .wrapper {
    width: 100%;
    display: inline;
  }

  #Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mobile {
      flex-wrap: wrap;
    }

    .section-header {
      text-transform: capitalize;
    }
  }

  .Organization {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;

    .se-text {
      font-weight: 600;
      font-size: 18px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 16px;
      background: var(--white);
      padding: 3px;
      flex-shrink: 0;
    }

    h2 {
      padding: 4px;
      border-radius: 16px;
      margin-left: auto;
      font-size: 13px;
      color: var(--white);
      text-transform: capitalize;
      overflow: hidden;
      max-width: 64px;
      @include ellipsis;

      &.donor {
        background-color: var(--red);
      }
      &.recipient {
        background-color: var(--green);
      }
      &.community {
        background-color: var(--blue);
      }
      &.warehouse {
        background-color: var(--yellow);
      }
      &.home {
        background-color: var(--blue);
      }
    }
  }
}
