@import '../../styles/imports.scss';

#Organizations {
  padding: 92px 16px 32px 16px;
  max-width: 800px;
  margin: auto;
  animation: fade-in 0.32s ease forwards;

  .wrapper {
    width: 100%;
    display: inline;
  }

  h1 {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .Organization {
    width: 100%;
    background: $mediumgrey;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
    margin: 16px 0;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h3 {
      font-size: 18px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 16px;
      background: $white;
      padding: 3px;
    }
  }
}
