#EditRoute {
  padding: 108px 16px 0 16px;
  max-width: 800px;
  margin: auto;
  animation: fade-in 0.32s ease forwards;

  h1 {
    font-size: 24px;
  }

  p {
    color: var(--blue);
    margin-top: 8px;
  }

  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    flex-wrap: wrap;

    button {
      margin: 4px;
      flex-grow: 1;
    }

    .delivery {
      border-color: var(--red);
      color: var(--red);
    }
    .complete {
      border-color: var(--blue);
      color: var(--blue);
    }
    .cancel {
      border-color: var(--yellow);
      color: var(--yellow);
    }
  }

  #Driver {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0;
    flex-wrap: wrap;

    button {
      width: 100%;
      margin-top: 24px;
    }

    @media (min-width: 600px) {
      flex-wrap: nowrap;

      button {
        margin: 0;
        padding: 8px;
        margin-left: auto;
        width: auto;
      }
    }

    h3 {
      font-size: 24px;
      margin-bottom: 4px;
    }

    h4 {
      color: var(--blue);
      font-weight: 600;
    }
    h5 {
      color: var(--blue);
      font-weight: 600;
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      flex-shrink: 0;
      padding: 2px;
      background: var(--white);
      border-radius: 50%;
      margin-right: 16px;
    }
  }

  #AddStop {
    background: var(--mediumgrey);
    padding: 16px;
    margin: 32px 0;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--blue);

    &:empty {
      display: none;
    }
  }

  .Stop {
    position: relative;
    width: 100%;
    background: var(--tile-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin: 16px 0;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .fa-times {
      position: absolute;
      top: 16px;
      right: 16px;
      color: var(--blue);
      font-size: 20px;
      cursor: pointer;
      transition: color 0.16s ease;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--white);
        }
      }
    }

    &.pickup {
      border: 2px solid var(--green);

      h4 {
        color: var(--green);
      }
    }
    &.delivery {
      border: 2px solid var(--red);

      h4 {
        color: var(--red);
      }
    }

    h4 {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 900;
      margin-bottom: 8px;
      i {
        font-size: 12px;
        margin-right: 4px;
      }
    }

    h2 {
      font-size: 24px;
      margin-bottom: 4px;
    }

    p {
      color: var(--blue);
      font-weight: 500;
      text-decoration: underline;

      &.philabundance {
        color: var(--yellow);
        text-decoration: none;
      }
    }
  }
}
