#PoundsInDateRange {
  a {
    color: var(--blue);
    text-decoration: underline;
  }

  iframe {
    width: 100%;
    margin-top: 16px;
    z-index: -1;
    height: 100%;
  }

  .canvas {
    background: white;
    border-radius: 10px;
    padding: 20px;
  }

  .InputSection {
    .Input {
      width: calc(50% - 8px);
      margin: 0 0 16px 0;
    }
  }

  #PoundsInDateRange-pounds {
    width: auto;
  }

  .details {
    flex-shrink: 1;
    width: auto;
  }

  .PoundsInDateRange-graph {
    background: var(--se-white);
    border-radius: 8px;
    box-shadow: var(--se-shadow-medium);
  }
}
