/* use this file for all global app styles, should not be specific to components, pages, or views */

@mixin page {
  padding: 120px 16px 108px 16px;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  animation: fade-in 0.32s ease forwards;
  z-index: 1;

  @include desktop {
    padding-left: 314px;
    padding-right: 32px;
    max-width: 1100px;
  }
}

@mixin card {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 16px;
  margin: 12px 0;
  padding: 16px;
  background: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include shadow;

  h2 {
    color: var(--text);
    font-size: 20px;
    margin-bottom: 4px;
  }

  h3,
  h4,
  h5,
  h6 {
    color: var(--grey);
    font-weight: 700;
    margin-bottom: 4px;
  }

  p,
  div,
  span {
    color: var(--primary);
  }

  p {
    margin-bottom: 4px;
  }
}

@mixin shadow {
  box-shadow: 0 12px 32px 0px rgba(var(--shadow-rgb), 0.16);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--se-green-gradient);
  color: var(--text);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  user-select: none;
  font-size: 10px;
  overflow: hidden;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;

  &[type='checkbox'] {
    border: none;
    background: var(--white);
  }
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

input:read-only,
textarea:read-only,
*:disabled {
  cursor: not-allowed;
}
