/* use this file for all global app styles, should not be specific to components, pages, or views */
* {
  box-sizing: border-box;
}

body {
  background: var(--darkgrey);
  color: var(--white);
}

button {
  position: relative;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  border: none;

  img,
  svg,
  i {
    display: inline;
    height: 24px;
    width: 24px;
    object-fit: cover;
    padding: 4px;
    margin-right: 8px;
    background: var(--white);
    border-radius: 4px;
  }

  &.secondary {
    background: transparent;
    padding: 0;
    font-size: 14px;
    color: var(--green);
    text-decoration: underline;
    margin: 0;
    font-weight: 600;
  }
  &:not(.secondary) {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    margin: 8px auto;
    background: none;
    border: 2px solid var(--green);
    color: var(--green);
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.16s ease, box-shadow 0.16s ease;

    @media (max-width: var(--mobile)) {
      width: 100%;
      padding: 16px 0;
      margin: 8px 0;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.48);
      }
    }

    &:active {
      transform: translate(1px, 1px);
      box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.16);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;

  &#FormError {
    color: var(--red);
    width: 100%;
    text-align: center;
    margin: 32px 0;
  }
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.back {
  font-size: 14px;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 16px;
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  user-select: none;
  font-size: 10px;
  overflow: hidden;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;

  &[type='checkbox'] {
    border: none;
    background: var(--white);
  }
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
}
