/* use this file for all browser default overrides and styles non-specific to the app's styles */
/* font imports should happen in index.html using <link> tags */
@import './reset.scss';
@import './global.scss';
@import './animations.scss';

body.light-theme {
  --green: #059705;
  --green-rgb: 5, 151, 5;
  --yellow: #fbac00;
  --yellow-rgb: 236, 193, 51;
  --red: #ec4f33;
  --red-rgb: 160, 54, 35;
  --blue: #0062ff;
  --blue-rgb: 0, 98, 255;
  --white: #0b2342;
  --white-rgb: 11, 35, 66;
  --darkgrey: #ffffff;
  --darkgrey-rgb: 255, 255, 255;
  --mediumgrey: #e0ebf8;
  --mediumgrey-rgb: 210, 228, 248;
  --lightgrey: #d6dce6;
  --lightgrey-rgb: 192, 198, 207;
  --mobile: 600px;
  --tile-border: 1px solid var(--lightgrey);
  --tile-background: #ffffff;
  --tile-background-rgb: 255, 255, 255;
}

body.dark-theme {
  --green: #00ff00;
  --green-rgb: 0, 255, 0;
  --yellow: #ecc133;
  --yellow-rgb: 236, 193, 51;
  --red: #ec4f33;
  --red-rgb: 236, 79, 51;
  --blue: #69a8fa;
  --blue-rgb: 105, 168, 250;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --darkgrey: #020d1a;
  --darkgrey-rgb: 2, 13, 26;
  --mediumgrey: #041428;
  --mediumgrey-rgb: 4, 20, 40;
  --lightgrey: #cccccc;
  --lightgrey-rgb: 204, 204, 204;
  --mobile: 600px;
  --tile-border: 1px solid rgba(var(--blue-rgb), 0.32);
  --tile-background: #041428;
  --tile-background-rgb: 4, 20, 40;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
