/* use this file for all browser default overrides and styles non-specific to the app's styles */
/* font imports should happen in index.html using <link> tags */
@import './reset.scss';
@import './global.scss';
@import './animations.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // brand colors
  --strong: rgb(57, 143, 104);
  --strong-rgb: 57, 143, 104;
  --primary: rgb(102, 205, 159);
  --primary-rgb: 114, 222, 179;
  --secondary: rgb(133, 219, 187);
  --secondary-rgb: 133, 219, 187;
  --tertiary: rgb(228, 241, 236);
  --tertiary-rgb: 228, 241, 236;

  // basic colors
  --green: rgb(102, 205, 159);
  --green-rgb: 102, 205, 159;
  --yellow: rgb(253, 205, 102);
  --yellow-rgb: 253, 205, 102;
  --blue: rgb(105, 168, 250);
  --blue-rgb: 105, 168, 250;
  --red: rgb(231, 111, 90);
  --red-rgb: 231, 111, 90;

  // grayscale values
  --black: rgb(18, 18, 18);
  --black-rgb: 18, 18, 18;
  --grey: rgb(160, 170, 160);
  --grey-rgb: 192, 200, 192;
  --lightgrey: rgb(216, 224, 216);
  --lightgrey-rgb: 216, 224, 216;
  --white: rgb(255, 255, 255);
  --white-rgb: 255, 255, 255;
}

body.dark-theme {
  --background: rgb(28, 33, 41);
  --background-rgb: 33, 33, 33;
  --foreground: rgb(44, 52, 65);
  --foreground-rgb: 49, 49, 49;
  --shadow: rgb(0, 0, 0);
  --shadow-rgb: 0, 0, 0;
  --text: rgb(255, 255, 255);
  --text-rgb: 255, 255, 255;
}

body.light-theme {
  --background: rgb(228, 241, 236);
  --background-rgb: 228, 241, 236;
  --foreground: rgb(255, 255, 255);
  --foreground-rgb: 255, 255, 255;
  --shadow: rgb(56, 56, 56);
  --shadow-rgb: 56, 56, 56;
  --text: rgb(18, 18, 18);
  --text-rgb: 18, 18, 18;
}

body.light-theme ::-webkit-calendar-picker-indicator {
  filter: invert(0) !important;
}
