#Calculator {
  .calculator {
    margin: auto;
    padding: 10px;
    width: 300px;
    height: 330px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;

    .display {
      .display-box {
        display: inline-block;
        padding: 10px;
        font-size: 22px;
        text-align: right;
        background-color: var(--grey);
        color: black;
        width: 77%;
        height: 100%;
        border-radius: 5px;
        margin-bottom: 10px;

        span {
          font-size: 14px;
          color: var(--for);
        }
      }
      button {
        background-color: var(--red);
        display: inline-block;
        width: 10%;
      }
    }

    button {
      border: none;
      outline: none;
      color: var(--white);
      font-size: 20px;
      height: 100%;
      cursor: pointer;
      border-radius: 5px;
      margin-top: -5px;
    }

    .operators {
      display: flex;
      button {
        flex: 1 1 0%;
        width: 25%;
      }
    }
    .digits {
      display: flex;
      flex-wrap: wrap;
      button {
        background-color: var(--grey);
        flex: 1 1 33%;
        max-width: 33%;
      }
    }
  }
}

#CalcModal {
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;

    .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: var(--foreground);
      margin: 25% auto;
      padding: 25px 8px 8px;
      overflow: hidden;
      max-width: 400px;

      .footer {
        width: 5%;
        margin-right: -85%;
        margin-bottom: -25px;
        padding: 0px 0px 0px 0px;
        button {
          margin: 0;
          text-align: center;
          padding: 3px 13px 3px 12px;
          background-color: var(--red);
        }
      }

      .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 0 20px;
      }
    }
  }
}
