#Revamp {
  @include page;
  #CurrentMonthPounds {
    display: flex;
    position: relative;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 3%;

    #Content {
      width: 50%;
      border-radius: 8px;
      // padding: 3%;

      select {
        border: 1px solid #e6e8ea;
        box-sizing: border-box;
        border-radius: 4px;
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 2%;
        padding-right: 6%;

        color: #53575a;
      }

      #CurrentMonthPoundsLabel {
        margin-top: 10%;
        margin-bottom: 10%;
      }

      section {
        display: flex;

        .se-text::after {
          content: '\00a0';
        }
      }

      #BarChart {
        padding-top: 3%;
      }
    }
  }
}
