@import '../../styles/global.scss';

#Routes {
  @include page;

  // h1 {
  //   font-size: 24px;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-end;
  //   button {
  //     margin-left: auto;
  //   }
  // }

  a {
    width: 100%;
  }

  .no-routes {
    width: 100%;
    padding: 64px 16px;
    text-align: center;
    i {
      font-size: 96px;
      color: var(--primary);
      margin-bottom: 16px;
    }
    p {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  #Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    select {
      -webkit-appearance: none;
      background: none;
      background-color: none;
      border: none;
      color: var(--blue);
      font-size: 16px;
      margin-right: auto;
      text-decoration: underline;
    }
  }

  .Route {
    @include card;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &.complete {
      opacity: 0.5;
    }

    h5 {
      margin-bottom: 12px;
    }

    p {
      font-size: 12px;
      font-weight: 600;
    }

    h6 {
      margin-top: 8px;
      font-weight: 600;
    }

    .pickups {
      color: var(--primary);
    }
    .deliveries {
      color: var(--red);
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      flex-shrink: 0;
      padding: 2px;
      background: var(--white);
      border-radius: 50%;
      margin-right: 16px;
    }

    #StatusIndicator {
      position: absolute;
      top: 12px;
      right: 12px;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;

      &.fa-times {
        background: var(--red);
      }

      &.fa-clock-o {
        background: var(--blue);
      }

      &.fa-check {
        background: var(--primary);
      }
    }
  }
}
