@import '../../styles/imports.scss';

#CreateRescue {
  padding: 108px 16px 64px 16px;
  max-width: 800px;
  margin: auto;
  animation: fade-in 0.32s ease forwards;

  p {
    margin-top: 8px;
    font-weight: 600;
    color: $green;
  }

  form {
    button {
      margin: auto;
      @media (max-width: $mobile) {
        width: 100%;
        padding: 20px;
      }
    }
  }
}
