@import '../../styles/imports.scss';

.Tile {
  div {
    width: 100%;
    height: 200px;
    background: $mediumgrey;
    color: $white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
    transition: transform 0.16s ease, box-shadow 0.16s ease;

    &:active {
      transform: translate(1px, 1px);
      box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.16);
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.48);
      }
    }

    i {
      font-size: 64px;
      margin: 32px;
      color: $green;
    }

    h4 {
      font-size: 18px;
      text-align: center;
      width: 100%;
    }
  }
}
