#SwitchEnv {
  @include page;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .icon {
    font-size: 96px;
    margin-bottom: 32px;
  }
}
