#Modal {
  #Rescue-modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  #RescueMenu,
  #StopMenu {
    text-transform: capitalize;
    li {
      margin: 16px 0;
      button {
        font-size: 14px;
      }
    }
  }
}
