#Home {
  padding: 108px 16px 0 16px;
  max-width: 800px;
  margin: auto;
  animation: fade-in 0.32s ease forwards;

  h1 {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    color: var(--blue);
    width: 100%;
    text-align: center;
    margin: 8px 0;
    font-weight: 700;
    span {
      font-weight: 900;
      color: var(--green);
    }
  }

  #Tiles {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 16px;
    padding-bottom: 32px;

    .Tile {
      div {
        width: 100%;
        height: 200px;
        background: var(--tile-background);
        color: var(--white);
        border: var(--tile-border);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        transition: transform 0.16s ease, box-shadow 0.16s ease;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            transform: translate(-2px, -2px);
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.48);
          }
        }

        &:active {
          transform: translate(1px, 1px);
          box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.16);
        }

        i {
          font-size: 64px;
          margin: 32px;
          &.fa-truck {
            color: var(--blue);
          }
          &.fa-route {
            color: var(--red);
          }
          &.fa-calendar {
            color: var(--yellow);
          }
          &.fa-gear {
            color: var(--red);
          }
          &.fa-users {
            color: var(--red);
          }
          &.fa-user {
            color: var(--green);
          }
          &.fa-question-circle {
            color: var(--lightgrey);
          }
          &.fa-utensils {
            color: var(--lightgrey);
          }
        }

        h4 {
          font-size: 18px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
