#Tutorial {
  @include page;
  padding: 96px 16px 192px 16px;
  section {
    @include card;

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 48%;
      border-radius: 8px;
      margin: auto;
    }
    h3 {
      color: var(--se-green-primary);
    }
    ul {
      list-style: circle;
      margin: 8px 16px;
      li {
        margin: 12px 0;
      }
    }
  }
}
