header#Header {
  position: absolute;
  top: 0;
  @media all and (display-mode: standalone) {
    top: 32px;
  }
  left: 0;
  width: 100%;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: fade-in 0.32s ease forwards;
  z-index: 20;
  transition: all 0.2s ease;

  @include desktop {
    padding: 32px;
    position: fixed;
    pointer-events: none;
    * {
      pointer-events: all;
    }
  }

  #UserProfile {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    opacity: 1;
    pointer-events: all;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    object-fit: cover;
    border: 2px solid var(--se-white);
    background: var(--blue);
    box-shadow: var(--se-shadow-medium);
  }

  #Header-location {
    max-width: calc(100% - 120px);

    #Header-page-title {
      text-transform: capitalize;
    }

    #Header-back-link {
      text-decoration: underline;
      margin: 0;
    }
  }

  #Header-logo {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
  }
}
