header#Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: fade-in 0.32s ease forwards;
  z-index: 20;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    var(--background),
    rgba(var(--background-rgb), 0)
  );

  h1 {
    font-size: 28px;
    text-align: left;
    color: var(--text);
    a {
      font-size: 20px;
      vertical-align: 10%;
      pointer-events: all;
      display: inline;
      margin-right: 8px;
      transition: color 0.16s ease;
      color: var(--blue);

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--green);
        }
      }
    }
  }
}
