@import '../../styles/global.scss';

#ContactUs {
  @include page;
  height: 1260px;

  h1 {
    font-size: 28px;
  }

  iframe {
    width: 100%;
    margin-top: 16px;
    // height: calc(100vh - 208px);
    height: 100%;
  }
}
