@import '../../styles/global.scss';

#PickupReport {
  @include page;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  h3 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--green);
  }

  .center {
    text-align: center;
  }

  section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 0;
    h5 {
      margin-right: auto;
      font-size: 22px;
      text-transform: capitalize;
    }
    button {
      width: 32px;
      height: 32px;
      color: var(--white);
      font-weight: 900;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 8px;
      border: none;
    }
    input {
      width: 48px;
      height: 48px;
      font-size: 18px;
      font-weight: 900;
      background: var(--white);
      color: var(--black);
      display: flex;
      justify-content: center;
      border-radius: 8px;
      align-items: center;
      text-align: center;
      margin: 0 8px;
      border: 0;
    }

    &.weight {
      justify-content: space-between;
      h4 {
        font-size: 20px;
        color: var(--primary);
      }
      h6 {
        width: 48px;
        height: 48px;
        font-size: 18px;
        font-weight: 900;
        background: var(--grey);
        color: var(--black);
        display: flex;
        justify-content: center;
        border-radius: 8px;
        align-items: center;
        text-align: center;
        margin: 0 8px;
        border: 0;
      }
    }
  }
}
