#PickupReport {
  @include page;

  section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    .se-text {
      text-transform: capitalize;
      font-size: 18px;
    }

    input {
      width: 96px;
      height: 48px;
      font-size: 18px;
      font-weight: 900;
      background: var(--white);
      color: var(--black);
      display: flex;
      justify-content: center;
      border-radius: 8px;
      align-items: center;
      text-align: center;
      margin: 0 8px;
      border: 0;
    }

    &.weight {
      justify-content: space-between;
      h4 {
        font-size: 20px;
      }
      h6 {
        width: 96px;
        height: 48px;
        font-size: 18px;
        font-weight: 900;
        background: var(--grey);
        color: var(--black);
        display: flex;
        justify-content: center;
        border-radius: 8px;
        align-items: center;
        text-align: center;
        margin: 0 8px;
        border: 0;
      }
    }
  }
}
