#Onboarding {
  @include page;
  p {
    white-space: pre-wrap;
  }
  a {
    width: 100%;
    .Onboarding-section {
      margin: 8px 0;
      flex-direction: row;
      justify-content: flex-start;
      i {
        margin-right: 16px;
        color: var(--se-blue-primary);
      }

      &.completed {
        opacity: 0.5;
        box-shadow: none;
        i {
          color: var(--se-green-primary);
        }
      }
    }
  }
}
