@import '../../styles/global.scss';

#Organization {
  @include page;

  .wrapper {
    width: 100%;
    display: inline;
  }

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
    img {
      width: 96px;
      height: 96px;
      flex-shrink: 0;
      background: var(--white);
      padding: 4px;
      border-radius: 50%;
      object-fit: contain;
      margin-right: 24px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      div {
        flex-direction: row;
        h3 {
          font-size: 24px;
          margin-bottom: 8px;
        }
        h2 {
          padding: 4px;
          border-radius: 16px;
          margin-left: 8px;
          font-size: 16px;
          color: var(--white);
          text-transform: capitalize;

          &.donor {
            background-color: var(--red);
          }
          &.recipient {
            background-color: var(--green);
          }
          &.community {
            background-color: var(--blue);
          }
          &.warehouse {
            background-color: var(--yellow);
          }
        }
      }
    }
    a {
      text-decoration: underline;
    }
    button {
      margin-top: 8px;
    }
    p {
      font-size: 12px;
      font-weight: 500;
      padding: 2px;
      color: var(--blue);
      i {
        color: var(--white);
        width: 20px;
      }
    }
  }
}

h4 {
  margin-top: 48px;
}

#NoLocations {
  width: 100%;
  padding: 32px 16px 8px 16px;
  text-align: center;
}

.Location {
  @include card;

  .primary {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--yellow);
  }

  .philabundance {
    position: absolute;
    top: 36px;
    right: 12px;
    color: var(--yellow);
  }

  h5 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  p {
    font-size: 12px;
    color: var(--green);
  }

  .org_hours {
    color: var(--blue);
    p {
      color: var(--blue);
    }
    span {
      margin-left: 5px;
      font-weight: 700;
    }
    span.open {
      color: var(--green);
    }
    span.close {
      color: var(--red);
    }
  }
  button {
    &.red {
      background-color: var(--red);
      margin: 10px 0 0;
      padding: 8px 8px;
    }
  }
}
