#Organization {
  @include page;

  #Organization-icon {
    width: 96px;
  }

  #Organization-details {
    text-transform: capitalize;
  }

  #Organization-locations {
    a {
      width: 100%;
    }

    .Organization-location {
      margin: 8px 0;

      .Organization-location-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;

        .Organization-philabundance {
          margin-left: auto;
          height: 16px;
        }
      }
    }
  }
}
