header#RouteHeader {
    position: relative;
    top: 0;
    width: 100%;
    padding: 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 25px;
      text-align: right;
      color: var(--text);
      b {
        font-size: 20px;
        vertical-align: 10%;
        pointer-events: all;
        display: inline;
        margin-right: 8px;
        transition: color 0.16s ease;
        color: var(--blue);
  
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: var(--green);
          }
        }
      }
    }
  }