@import '../../styles/global.scss';

#Route {
  @include page;

  h1 {
    font-size: 24px;
    text-transform: capitalize;
  }

  a {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 12px;
    &.red {
      background: var(--red);
    }

    &.yellow {
      background: var(--yellow);
    }

    &.blue {
      background: var(--blue);
    }
    &.small {
      width: unset !important;
      padding: 12px;
      flex-shrink: 1;
    }
    &.secondary {
      color: var(--blue);
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: calc(50% - 8px);
      margin: 0 4px;
      flex-grow: 1;
    }
  }

  .warning {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    &.modal {
      border: 1px solid black;
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background-color: var(--foreground);
      margin: 25% auto;
      padding: 25px 8px 8px;
      width: 75%;
      max-height: 50%;
      overflow: auto;
      max-width: 750px;

      .footer {
        width: 5%;
        margin-right: -85%;
        margin-bottom: -10px;
        padding: 0px 0px 0px 0px;
        button {
          margin: 0;
          text-align: center;
          padding: 3px 13px 3px 12px;
        }
      }

      .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 0 20px;
        p {
          text-align: center;
          width: 100%;
          font-size: 22px;
          color: var(--text);
          margin-top: 20px;
          &.short {
            width: 100%;
            color: white;
          }
        }
        .blue {
          background-color: var(--blue);
          margin: 0;
          padding: 8px 16px;
        }
      }
    }

    .route {
      padding: 8px 32px;
      box-shadow: 4px 4px 8px var(--grey);
      border-radius: 8px;
      &:hover {
        transform: scale(1.1);
      }
    }

    .yellow {
      background-color: var(--yellow);
    }

    .small {
      padding: 8px 32px;
    }

    .red {
      background-color: var(--red);
    }

    Link {
      border: 1px solid black;
    }
  }
  #Driver {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
    background: var(--strong);
    @include shadow;

    h3 {
      font-size: 20px;
      margin-bottom: 2px;
      color: var(--white);
    }

    h4 {
      color: var(--lightgrey);
      font-weight: 600;
    }
    h5 {
      color: var(--lightgrey);
      font-weight: 600;
    }

    p {
      color: var(--yellow);
      font-size: 14px;
      font-style: italic;
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      flex-shrink: 0;
      padding: 2px;
      background: var(--white);
      border-radius: 50%;
      margin-right: 16px;
    }

    .driver-buttons {
      margin-left: auto;
    }
  }
  .Stops {
    margin-bottom: 32px;
    .Stop {
      @include card;
      opacity: 0.4;
      pointer-events: none;

      &.active,
      &.complete {
        opacity: 1;
        pointer-events: all;
      }

      &.pickup {
        h2,
        h4 {
          color: var(--strong);
        }
      }
      &.delivery {
        h2,
        h4 {
          color: var(--red);
          span {
            color: var(--red);
          }
        }
      }

      #StatusIndicator {
        position: absolute;
        top: 12px;
        right: 12px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;

        &.fa-times {
          background: var(--red);
        }

        &.fa-clock-o {
          background: var(--blue);
        }

        &.fa-check {
          background: var(--green);
        }
      }

      h4 {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 8px;
        i {
          font-size: 12px;
          margin-right: 4px;
        }
      }

      h2 {
        font-size: 24px;
        margin-bottom: 4px;
      }

      h6 {
        font-weight: 500;
        font-style: italic;
        margin-top: 12px;
        color: var(--grey);
        text-indent: -12px;
        padding-left: 12px;
        span {
          font-weight: 900;
          color: var(--red);
          font-style: normal;
        }
      }

      p {
        color: var(--blue);
        font-weight: 500;
        // text-decoration: underline;
        i {
          font-size: 12px;
          margin-right: 4px;
          margin-bottom: 2px;
        }
        .open,
        .close {
          font-size: 1em;
          text-decoration: none;
          color: var(--text);
          margin-left: 4px;
        }
        a {
          text-decoration: underline;
        }
        .open {
          font-weight: 700;
          color: var(--green);
        }
        .close {
          font-weight: 700;
          color: var(--red);
        }
      }

      a {
        margin-top: 4px;
        width: auto;
      }

      .update-stop {
        margin-top: 16px;
        border: none;
        background: var(--blue);
        color: #fff;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        button {
          margin: 0 4px;
          width: calc(50% - 8px);
          flex-grow: 1;
        }
      }
    }
  }

  #BackupDelivery {
    width: 100%;
    padding: 32px 16px;
    margin: 24px 0;
    border-radius: 8px;
    background: var(--foreground);

    > h4 {
      width: 100%;
      font-size: 18px;
      text-align: center;
      color: var(--text);
    }

    > p {
      width: 100%;
      font-size: 14px;
      color: var(--text);
      margin-top: 4px;
      text-align: center;
    }

    button {
      margin-top: 16px;
      width: auto;
      box-shadow: none;
      background: var(--yellow);
    }
  }

  .Directions {
    text-indent: -6px;
    padding-left: 14px;
    &:hover {
      text-decoration: underline;
    }
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    border-radius: 8px;
    background-color: var(--foreground);
    margin: 15% auto;
    padding: 16px;
    width: 50%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .warning-text {
    border-radius: 10px;
    background-color: var(--yellow);
    text-align: center;
    color: var(--black);
    padding: 12px;
    margin: 10px 0;
    p {
      font-size: 20px !important;
    }
  }
}
