@import '../../styles/global.scss';

#Route {
  @include page;

  h1 {
    font-size: 24px;
    text-transform: capitalize;
  }

  a {
    width: 100%;
  }
  button {
    width: 100%;
    margin-top: 12px;
    &.red {
      background: var(--red);
    }

    &.yellow {
      background: var(--yellow);
    }

    &.blue {
      background: var(--blue);
    }
    &.small {
      width: unset !important;
      padding: 12px;
      flex-shrink: 1;
    }
    &.secondary {
      color: var(--blue);
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: calc(50% - 8px);
      margin: 0 4px;
      flex-grow: 1;
    }
  }

  #Driver {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 16px;
    background: var(--strong);
    @include shadow;

    h3 {
      font-size: 20px;
      margin-bottom: 2px;
      color: var(--white);
    }

    h4 {
      color: var(--lightgrey);
      font-weight: 600;
    }
    h5 {
      color: var(--lightgrey);
      font-weight: 600;
    }

    p {
      color: var(--yellow);
      font-size: 14px;
      font-style: italic;
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      flex-shrink: 0;
      padding: 2px;
      background: var(--white);
      border-radius: 50%;
      margin-right: 16px;
    }
  }
  .Stops {
    margin-bottom: 32px;
    .Stop {
      @include card;
      opacity: 0.4;
      pointer-events: none;

      &.active,
      &.complete {
        opacity: 1;
        pointer-events: all;
      }

      &.pickup {
        h2,
        h4 {
          color: var(--strong);
        }
      }
      &.delivery {
        h2,
        h4 {
          color: var(--red);
        }
      }

      #StatusIndicator {
        position: absolute;
        top: 12px;
        right: 12px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;

        &.fa-times {
          background: var(--red);
        }

        &.fa-clock-o {
          background: var(--blue);
        }

        &.fa-check {
          background: var(--green);
        }
      }

      h4 {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 8px;
        i {
          font-size: 12px;
          margin-right: 4px;
        }
      }

      h2 {
        font-size: 24px;
        margin-bottom: 4px;
      }

      h6 {
        font-weight: 500;
        font-style: italic;
        margin-top: 12px;
        color: var(--grey);
        text-indent: -12px;
        padding-left: 12px;
        span {
          font-weight: 900;
          color: var(--red);
          font-style: normal;
        }
      }

      p {
        color: var(--blue);
        font-weight: 500;
        // text-decoration: underline;
        i {
          font-size: 12px;
          margin-right: 4px;
          margin-bottom: 2px;
        }
        span {
          text-decoration: none;
          color: var(--text);
          margin-left: 4px;
        }
        a {
          text-decoration: underline;
        }
      }

      a {
        margin-top: 4px;
        width: auto;
      }

      .update-stop {
        margin-top: 16px;
        border: none;
        background: var(--blue);
        color: #fff;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        button {
          margin: 0 4px;
          width: calc(50% - 8px);
          flex-grow: 1;
        }
      }
    }
  }

  #BackupDelivery {
    width: 100%;
    padding: 32px 16px;
    margin: 24px 0;
    border-radius: 8px;
    background: var(--foreground);

    > h4 {
      width: 100%;
      font-size: 18px;
      text-align: center;
      color: var(--white);
    }

    > p {
      width: 100%;
      font-size: 14px;
      color: var(--white);
      margin-top: 4px;
      text-align: center;
    }

    button {
      margin-top: 16px;
      width: auto;
      box-shadow: none;
      background: var(--yellow);
    }
  }

  .Directions {
    text-indent: -6px;
    padding-left: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}
