#Route {
  @include page;

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: calc(50% - 8px);
      margin: 0 4px;
      flex-grow: 1;
    }
  }

  #Driver {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;

    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
      flex-shrink: 0;
      padding: 2px;
      background: var(--white);
      border-radius: 50%;
      margin-right: 16px;
    }

    #Route-edit-button {
      margin-left: auto;
      height: 32px;
      width: 32px;
      padding: 0;
    }
  }

  .Stops {
    .Stop {
      margin-bottom: 16px;

      .Route-stop-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        #Route-stop-edit-button {
          margin-left: auto;
          height: 32px;
          width: 32px;
          padding: 0;
        }
      }

      .Route-stop-instructions {
        span {
          font-weight: 700;
        }
      }

      .Route-stop-address-button,
      .Route-stop-phone-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        div {
          font-size: 20px;
        }
      }

      .se-button.type-primary {
        text-transform: capitalize;
      }

      #StatusIndicator {
        position: absolute;
        top: 12px;
        right: 12px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;

        &.fa-times {
          background: var(--red);
        }

        &.fa-clock-o {
          background: var(--blue);
        }

        &.fa-check {
          background: var(--green);
        }
      }

      .update-stop {
        margin-top: 16px;
        border: none;
        background: var(--blue);
        color: #fff;
        font-weight: 900;
        font-size: 18px;
        text-transform: capitalize;
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        button {
          margin: 0 4px;
          width: calc(50% - 8px);
          flex-grow: 1;
        }
      }
    }
  }

  #BackupDelivery {
    width: 100%;
    padding: 32px 16px;
    margin: 24px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
      margin-top: 16px;
    }
  }

  .Directions {
    text-indent: -6px;
    padding-left: 14px;
    &:hover {
      text-decoration: underline;
    }
  }

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    border-radius: 8px;
    background-color: var(--foreground);
    margin: 15% auto;
    padding: 16px;
    width: 50%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
