#Onboarding {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 96px 16px 192px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  > img {
    width: 92%;
    max-width: 240px;
    margin-bottom: 24px;
    border-radius: 50%;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
    
  }

  .getstart {
    font-size: 18px;
    color: #fff;
    border: 0;
    background: #4284f4;
    font-weight: 600;
    line-height: 1;
    margin: 8px 0;
    width: 50%;
  }
  .logout {
    font-size: 18px;
    color: #fff;
    border: 0;
    font-weight: 600;
    line-height: 1;
    margin: 8px 0;
    width: 50%;
  }
}

#Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .inner {
    display: inline-block;
  }
}

#Checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    margin-left: 10px;
  }
}