#PickupReport {
  @include page;

  #Pickup-report-instructions {
    margin-left: auto;
    height: 32px;
    width: 32px;
    padding: 0;
  }
  section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0;

    .se-text {
      margin-right: auto;
      text-transform: capitalize;
      font-size: 18px;
    }

    input {
      width: 96px;
      height: 48px;
      font-size: 18px;
      font-weight: 900;
      background: var(--se-white);
      color: var(--se-black);
      display: flex;
      justify-content: center;
      border-radius: 8px;
      align-items: center;
      text-align: center;
      margin: 0 12px;
      border: 0;
    }

    button {
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.weight {
      justify-content: space-between;
      h4 {
        font-size: 20px;
      }
      h6 {
        width: 124px;
        height: 48px;
        font-size: 18px;
        font-weight: 900;
        background: var(--se-grey-primary);
        color: var(--se-black);
        display: flex;
        justify-content: center;
        border-radius: 8px;
        align-items: center;
        text-align: center;
        margin: 0 8px;
        border: 0;
      }
    }
  }
}
