#Testimonial {
  @include LandingPage;
  min-height: 92vh;
  box-sizing: border-box;
  padding-top: 32px;
  @include mobile {
    padding-top: 100px;
  }

  #Testimonial-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
  }

  #Testimonial-content {
    .Testimonial-content-slide {
      background-color: var(--white);
      border-radius: 10px;
      padding: 30px 70px 30px 70px;
      @include mobile {
        background-image: linear-gradient(var(--lightgrey), var(--white));
      }
    }
    #Testimonial-content-vector {
      position: absolute;
      left: 5%;
      top: 40%;
      width: 15%;
      opacity: 30%;
    }
    #Testimonial-content-headshot {
      border-radius: 50%;
      width: 17%;
      border: 6px solid var(--se-white);
      @include mobile {
        width: 55%;
      }
      &.party-orange {
        border-color: var(--party-orange);
        background: var(--party-orange);
      }
      &.party-blue {
        border-color: var(--party-blue);
        background: var(--party-blue);
      }
      &.party-yellow {
        border-color: var(--party-yellow);
        background: var(--party-yellow);
      }
      &.partygreen {
        border-color: var(--party-green);
        background: var(--party-green);
      }
    }
    .subheader {
      font-weight: 700;
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: var(--black);
    }
  }

  .darkgreen {
    color: var(--darkgreen);
  }

  .darkgrey {
    color: var(--darkgrey);
  }

  .party-orange {
    color: var(--party-orange);
  }

  .party-blue {
    color: var(--party-blue);
  }

  .party-yellow {
    color: var(--party-yellow);
  }
}
